@use "../../../colors";

.mat-tab-list {
  background-color: colors.$my-warn;
}
.mat-tab-label {
  min-width: 25px !important;
  padding: 5px;
  font-weight: 700;

  button {
    background-color: colors.$my-warn;
    color: colors.$my-primary;
  }
}

.mat-tab-label.mat-tab-label-active {
  min-width: 25px !important;
  padding: 5px;
  font-weight: 700;
  opacity: 1;

  button {
    background-color: colors.$my-primary;
    color: #FFF;
  }
}

.mat-ink-bar {
  opacity: 0;
}
